@media screen and (max-width: 1599px) {
  .real_behind_txt {
    max-width: 1075px;
  }

  #products_sec {
    padding: 45px 0;
  }

  #products_sec.just-for-style {
    padding: 0 !important;
  }

  .feel_gr_txt h2 {
    font-size: 70px;
    max-width: 786px;
  }

  .feel_gr_txt p {
    font-size: 24px;
    max-width: 417px;
  }

  .millions_pepole p {
    font-size: 22px;
  }

  .life {
    font-size: 86px;
  }

  .diet {
    font-size: 86px;
  }

  .you {
    font-size: 86px;
    max-width: 990px;
  }

  .our_mentor_wrap h2 {
    font-size: 95px;
  }

  .success_whole_txt h3 {
    font-size: 80px;
  }

  .success_txt_r {
    font-size: 22px;
    padding-top: 80px;
  }

  .mentor_r {
    font-size: 22px;
  }

  .more_txt h2 {
    font-size: 90px;
  }

  .power_txt_wrap p {
    font-size: 22px;
  }

  .scale_tools_txt h2 {
    font-size: 70px;
  }

  .real_flag_content p {
    font-size: 22px;
    padding-right: 40px;
  }

  .growth_inner_layer h6 {
    font-size: 18px;
  }

  .lern_more {
    font-size: 22px;
    width: 100%;
    max-width: 260px;
    padding: 20px 0;
  }

  .join_btn_today {
    font-size: 22px;
    padding: 20px 30px;
  }

  .profit_simplified_wrap h2 {
    font-size: 90px;
  }

  .profit_simplified_wrap p {
    font-size: 24px;
  }

  .profit_txt_wrap h2 {
    font-size: 60px;
  }

  .profit_txt_wrap p {
    font-size: 24px;
  }

  .loyal_inner_wrap h2 {
    font-size: 90px;
    max-width: 953px;
  }

  .loyal_inner_wrap p {
    font-size: 24px;
  }

  .loyal_inner_wrap_2 h2 {
    font-size: 90px;
    max-width: 868px;
  }

  .loyal_inner_wrap_2 p {
    font-size: 24px;
  }

  .loyal_inner_wrap_2.para_cust p {
    font-size: 24px;
  }

  .your_passion_wrap h2 {
    font-size: 76px;
    max-width: 1110px;
    margin: 0 auto;
  }

  .your_passion_wrap p {
    font-size: 24px;
  }

  .pass_one_b h5 {
    font-size: 28px;
  }

  .pass_one_b p {
    font-size: 20px;
  }

  .real_behind_txt p {
    font-size: 24px;
  }

  .all_start_txt h2 {
    font-size: 90px;
    margin-left: -199px;
  }

  .all_start_txt p {
    font-size: 24px;
  }

  .limited_text h2 {
    font-size: 90px;
  }

  .limited_text p {
    font-size: 24px;
  }

  .crystal_outer_wrap h2 {
    font-size: 80px;
    max-width: 580px;
  }

  .crystal_outer_wrap p {
    font-size: 24px;
    max-width: 527px;
  }

  .avoid_inner_1_wrap h2 {
    font-size: 55px;
    max-width: 350px;
  }

  .help_wrap_one p {
    font-size: 18px;
  }

  .avoid_inner_2_wrap h2 {
    font-size: 55px;
    max-width: 430px;
  }

  .help_wrap_one_2 p {
    font-size: 18px;
  }

  .avoid_inner_3_wrap h2 {
    font-size: 55px;
  }

  .help_wrap_one.lin_sp_w {
    padding-top: 50px;
  }

  #faq_sec .single-acco h2 {
    font-size: 20px;
  }

  .accordion-body h2 {
    font-size: 90px;
  }

  .success_whole_txt p {
    max-width: 740px;
  }

  .real_flag_content {
    max-width: 690px;
  }

  .lov_2_2 {
    position: absolute;
    bottom: -70%;
    right: 0;
  }

  .product_txt-wrap h2 {
    font-size: 70px;
  }

  .product_txt-wrap p {
    font-size: 25px;
    max-width: 716px;
  }

  .product_txt-wrap {
    padding-left: 125px;
  }

  .btn-for-fun span img {
    width: 100%;
    max-width: 160px;
  }

  .need_mor_wrp h5 {
    font-size: 27px;

  }

  .cry_left_botm img {
    max-width: 180px;
  }

  .profit_img_wrap img {
    width: 100%;
    max-width: 95%;
  }

  .profit_img_wrap {
    margin-left: auto;
  }

  .use_wrap {
    top: 22%;
    left: -2%;
  }

  #profit_simplified_section .profit_outer_wrap .use_wrap img {
    width: 100%;
    max-width: 85%;
  }

  #profit_simplified_section .use_wrap_3 img {
    width: 100%;
    max-width: 86%;
  }

  .use_wrap_3 {
    text-align: end;
  }

}


@media screen and (max-width: 1499px) {
  .container {
    max-width: 1230px;
  }

  .growth_inner_layer h6 {
    font-size: 15px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #products_sec .pro_duct_outer_wrap {
    padding: 175px 0;
  }

  .product_txt-wrap h2 {
    font-size: 72px;
  }

  .product_txt-wrap p {
    font-size: 22px;
    max-width: 616px;
  }

  .product_txt-wrap {
    padding-left: 85px;
  }

  .product_txt-wrap h2 {
    font-size: 58px;
    width: 100%;
    max-width: 659px;
  }

  .pro_inner_drink h2 {
    font-size: 98px;
  }

  .expected_txt {
    font-size: 18px;
    line-height: 135%;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .pro_outer_slid {
    padding: 85px 75px 0px 100px;
  }
  .herbal_txt {
    font-size: 20px;
    max-width: 631px;
    padding-bottom: 60px;
  }
  .need_mor_wrp .btn_slider {
    font-size: 22px;
    line-height: 130%;
    padding: 27px 15px;

  }
  .need_mor_wrp .btn_slider {
    width: 100%;
    max-width: 265px;
    margin-top: 50px;
  }
  .medin_wrap {
    width: 55%;
  }
  .need_mor_wrp {
    width: 45%;
  }
  .pro-wrapper {
    padding-left: 12px;
}

}








@media screen and (max-width: 1199px) {

  .our_mentor_wrap h2,
  .more_txt h2,
  .loyal_inner_wrap h2,
  .profit_simplified_wrap h2,
  .all_start_txt h2,
  .crystal_outer_wrap h2,
  .limited_text h2,
  .your_passion_wrap h2,
  .scale_tools_txt h2,
  .loyal_inner_wrap_2 h2,
  .more_txt h2 {
    font-size: 64px;
  }

  .feel_gr_txt h2 {
    font-size: 58px;
    max-width: 666px;
  }

  .feel_gr_txt p {
    font-size: 22px;
    padding-top: 20px;
  }

  .millions_pepole {
    max-width: 100%;
    left: 50%;
    padding: 0 20px;
  }

  .millions_pepole p {
    padding-bottom: 45px;
  }
  .better_back_img {
    top: 37%;
}
  .life,
  .diet,
  .you {
    font-size: 62px;
    padding-bottom: 0px;
  }
  .life {
    width: 100%;
    max-width: 722px;
  }
  .diet {
    max-width: 1130px;
  }
  .you {
    max-width: 870px !important;
  }
  .our_mentor_wrap h2 {
    font-size: 80px;
    text-align: center;
  }

  .success_whole_txt h3 {
    font-size: 60px;
  }

  .success_whole_txt p {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .success_txt_r {
    font-size: 20px;
    padding-top: 60px;
  }

  .mentor_r {
    font-size: 20px;
  }

  .more_txt h4 {
    font-size: 50px;
  }

  .help_sec {
    margin-top: 80px;
  }

  .power_txt_wrap p {
    font-size: 20px;
    padding-bottom: 40px;
    max-width: 100%;
  }

  .your_passion_wrap p {
    font-size: 22px;
  }


  .real_behind_txt p {
    font-size: 22px;
  }

  .all_start_txt p {
    font-size: 22px;
    padding-right: 20px;
    max-width: 100%;
  }

  .limited_text p {
    font-size: 22px;
  }

  .crystal_outer_wrap h2 {
    max-width: 100%;
  }

  .crystal_outer_wrap p {
    font-size: 22px;
  }

  .help_wrap_one_2 p {
    font-size: 16px;
  }

  .help_wrap_one p {
    font-size: 16px;
  }

  .loyal_inner_wrap p {
    font-size: 22px;
    padding-top: 40px;
  }

  .loyal_inner_wrap_2 h2 {
    font-size: 70px;
    max-width: 838px;
  }

  .loyal_inner_wrap_2 p,
  .loyal_inner_wrap_2.para_cust p {
    font-size: 22px;
  }

  .pass_one_b h5 {
    font-size: 22px;
  }

  .pass_one_b {
    padding: 90px 12px 60px;
  }

  .pass_one_b p {
    font-size: 18px;
  }

  .crystal_outer_wrap {
    padding-right: 20px;
  }

  .avoid_inner_1_wrap h2,
  .avoid_inner_2_wrap h2,
  .avoid_inner_3_wrap h2 {
    font-size: 50px;
  }

  .crystal_outer_wrap p {
    font-size: 22px;
    max-width: 100%;
    padding-right: 20px;
    padding-top: 20px;
  }

  .profit_txt_wrap p {
    font-size: 22px;
  }

  .lov_2_2 {
    bottom: -80%;
    right: 0;
    z-index: -1;
  }

  .profit_simplified_wrap p {
    font-size: 22px;
  }

  #better_life_sec {
    padding: 240px 0 240px 0;
  }
  .real_behind_txt {
    max-width: 975px;
}
#million_sec:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff6b;
}
.millions_pepole {
  z-index: 9;
}
.better_line_round {
  top: 17%;
  left: 0;
}


}




@media only screen and (max-width: 991px) {

  h1,
  .h1 {
    font-size: 55px;
  }

  /*Globally*/
  .space {
    padding: 80px 0;
  }

  .space-pt {
    padding-top: 80px;
  }

  .space-pb {
    padding-bottom: 80px;
  }

  .space-sm {
    padding: 40px 0;
  }

  .space-sm-pt {
    padding-top: 40px;
  }

  .space-sm-pb {
    padding-bottom: 40px;
  }


  /*-------HEADER-NAVIGATION-START--------*/
  .sidenavs .closebtn {
    display: block;
    line-height: 25px;
    right: 0;
    top: 33px;
  }

  .header_section ul.menu_navigation {
    display: inline-block;
    width: 100%;
    padding: 40px 0 0;
  }

  .header_section ul.menu_navigation li {
    padding: 0;
    border-bottom: 1px solid #dddddd21;
    display: block;
  }

  /* li.become-member .btn {
    margin-right: 0;
  }*/
  span.toggle_menu {
    display: inline-block;
    color: #0572b7;
    font-size: 30px;
    position: relative;
    right: 0;
    top: 0;
    float: left;
    margin-left: 15px;
  }

  .sidenavs {
    width: 0;
    position: fixed;
    background: #000000;
    top: 0;
    right: 0;
    display: inline-block;
    overflow-x: hidden;
  }

  .sidenavs a {
    font-size: 16px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    color: #fff;
  }

  .header_section a.active,
  .header_section .menu_navigation li a:hover {
    border-bottom: none;
    color: #0572b7;
  }

  .menu_navigation li a.active {
    border: none;
    padding: 10px 12px;
    border-radius: 0px;
    color: #0ea8a8;
  }

  .pro_inner_drink h2 {
    font-size: 76px;
  }

  .pro_outer_slid {
    padding: 45px 35px 0px 55px;
  }

  .expected_txt {
    font-size: 14px;
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .herbal_txt {
    font-size: 17px;
    line-height: 180%;
    max-width: 550px;
  }

  .need_mor_wrp h5 {
    font-size: 21px;
  }

  /*-------HEADER-NAVIGATION-END--------*/

  /* -----------page_start_responsive-------- */
  .our_mentor_wrap h2,
  .more_txt h2,
  .loyal_inner_wrap h2,
  .profit_simplified_wrap h2,
  .all_start_txt h2,
  .crystal_outer_wrap h2,
  .limited_text h2,
  .your_passion_wrap h2,
  .loyal_inner_wrap_2 h2,
  .scale_tools_txt h2,
  .more_txt h2 {
    font-size: 50px;
  }

  .feel_gr_txt {
    text-align: center;
  }

  .feel_gr_txt h2 {
    font-size: 48px;
    max-width: 100%;
  }

  .feel_gr_txt p {
    font-size: 20px;
    max-width: 100%;
  }


  .feel_gr_img {
    position: static;
    transform: unset;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
  }

  #feel_great_sec {
    padding-bottom: 80px;
  }

  .millions_pepole p {
    font-size: 20px;
    text-align: center;
  }

  #products_sec {
    margin-top: 0;
  }

  .your_success_outer_wrap {
    flex-direction: column;
  }

  .success_image {
    width: 100%;
  }

  .success_whole_txt {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .success_whole_txt p {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .success_txt_r {
    padding-top: 20px;
  }

  .power_outer_wrap {
    padding-top: 60px;
    flex-direction: column;
  }

  .power_img_wrap {
    width: 100%;
  }

  .power_txt_wrap {
    width: 100%;
    text-align: center;
  }

  .power_txt_wrap p {
    padding-bottom: 20px;
  }

  .life,
  .diet,
  .you {
    font-size: 54px;
  }
  .life {
    width: 100%;
    max-width: 596px;
}
.diet {
  max-width: 815px !important;
}
.you {
  max-width: 675px !important;
}
  .real_tools_outer_wrap {
    flex-direction: column;
  }

  .real_flag_img {
    width: 100%;
  }

  .real_flag_content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 40px 15px 0 15px;
  }

  .real_flag_content p {
    font-size: 20px;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .growth_inner_layer h6:nth-child(5) {
    margin: 20px auto 0;
  }

  .lern_more {
    font-size: 20px;
    padding: 16px 0;
  }

  .join_btn_today {
    font-size: 20px;
    padding: 16px 30px;
  }

  .profit_simplified_wrap p,
  .profit_txt_wrap p {
    font-size: 20px;
  }

  .profit_txt_wrap h2 {
    font-size: 46px;
  }

  .loyal_inner_wrap {
    top: 30%;
    left: 0;
    transform: unset;
    text-align: center;
    right: 0;
  }

  #loyalty_start_sec {
    margin-top: 0;
  }

  .loyal_inner_wrap p {
    font-size: 20px;
    text-align: center;
    max-width: 100%;
    padding: 30px 15px 0;
  }

  .loyal_inner_wrap_2 {
    top: 30%;
    left: 0;
    text-align: center;
    transform: unset;
    width: 100%;
    z-index: 0;
    right: 0;
  }

  .loyal_inner_wrap_2 h2 {
    max-width: 100%;
    text-align: center;
  }

  .loyal_inner_wrap_2 p {
    max-width: 100%;
    text-align: center;
    padding: 40px 20px 0;
  }

  .loyal_inner_wrap_2.para_cust p {
    text-align: center;
    padding: 20px 20px 0;
  }

  .loyal_inner_wrap_2 p,
  .loyal_inner_wrap_2.para_cust p {
    font-size: 20px;
  }

  .loyal_inner_wrap.heal_wrap p {
    width: 100%;
    max-width: 100%;
    padding: 30px 15px 0;
  }

  .your_passion_wrap p {
    font-size: 20px;
  }

  .pass_item_boxes {
    flex-direction: column;
  }


  .pass_outer_wrp {
    width: 100%;
    margin: 0px 0 0;
  }

  .pass_outer_wrp:nth-child(1) {
    margin-bottom: 90px;
  }

  .pass_outer_wrp:nth-child(2) {
    margin-bottom: 90px;
  }

  .pass_one_b h5 {
    font-size: 30px;
    max-width: 100%;
  }

  .real_behind_txt p {
    font-size: 20px;
    padding-top: 80px;
  }

  .all_start_outer_wrap {
    flex-direction: column;
  }

  .all_start_img {
    width: 100%;
  }

  .all_start_txt {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
  }

  .all_start_txt h2 {
    margin-left: 0;
  }

  .all_start_txt p {
    font-size: 20px;
    padding-right: 0;
    max-width: 100%;
    padding-top: 20px;
  }

  .politen_outer_wrap {
    flex-direction: column;
  }

  .limited_text {
    width: 100%;
    text-align: center;
  }

  .limited_text p {
    font-size: 20px;
  }

  .limited_text {
    width: 100%;
    text-align: center;
    order: 2;
  }

  .limited_img_innr {
    width: 100%;
    order: 1;
    text-align: center;
  }

  .limited_img_innr img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .poten_back_ground_img {
    top: 10%;
    right: 0;
    z-index: -1;
  }

  #faq_sec .single-acco h2 {
    font-size: 15px;
  }

  .accordion-body h2 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .cry_stal_rigt {
    top: -7%;
  }

  .product_txt-wrap h2 {
    font-size: 42px;
  }

  .product_txt-wrap p {
    font-size: 20px;
  }

  .btn-for-fun span img {
    max-width: 100px;
  }

  .growth_inner_layer {
    justify-content: center;
  }

  .growth_inner_layer h6 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .avoid_outer_wrap {
    flex-direction: column;
  }

  .avoid_inner_1_wrap {
    width: 100%;
    order: 2;
    margin-top: 40px;
  }

  .avoid_inner_2_wrap {
    width: 100%;
    order: 2;
  }

  .avoid_inner_2_wrap {
    width: 100%;
    order: 1;
  }

  .avoid_outer_wrap_2 {
    flex-direction: column;
  }

  .avoid_inner_3_wrap {
    width: 100%;
    order: 2;
  }

  .cry_stal_rigt {
    top: -4%;
  }

  #products_sec {
    padding: 0px 0;
  }

  .profit_outer_wrap {
    margin-top: 70px;
    flex-direction: column;
  }

  .profit_img_wrap {
    width: 100%;
  }

  #Crystal_sec {
    margin-top: 80px;
  }

  .line_dot_wrp {
    display: none;
  }

  .profit_img_wrap.pr_wp_love_2 {
    width: 100%;
    order: 1;
  }

  .profit_txt_wrap.pr_wp_love {
    width: 100%;
    max-width: unset;
    order: 2;
    margin-top: 40px;
  }

  .profit_txt_wrap {
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    margin: 0 auto;
    margin-top: 40px;
  }

  .profit_txt_wrap.pr_share_wp {
    max-width: 100%;
  }

  .profit_img_wrap {
    padding-right: 0;
  }

  .avoid_img_top {
    width: 100%;
  }

  .crystal_outer_wrap p {
    font-size: 20px;
  }

  .avoid_inner_1_wrap h2,
  .avoid_inner_2_wrap h2,
  .avoid_inner_3_wrap h2 {
    font-size: 40px;
  }

  .crystal_leaf_right_img img {
    width: 100%;
    max-width: 220px;
  }

  .crystal_leaf_right_img {
    position: absolute;
    top: -16%;
    right: 0;
    z-index: -1;
  }

  .cry_left_botm img {
    width: 100%;
    max-width: 260px;
  }

  .cry_left_botm {
    bottom: -40%;
  }

  .pass_half_bottle {
    top: 10%;
  }

  .pass_half_bottle img {
    max-width: 250px;
  }

  .profit_img_wrap img {
    width: 100%;
    max-width: 500px;
  }

  .profit_img_wrap {
    text-align: center;

  }

  .use_wrap_3 {
    top: 46%;
    right: 0;
  }

  .profit_txt_wrap.pr_share_wp {
    margin-top: 100px;
  }

  .use_wrap {
    top: 22%;
    left: 1%;
  }

  .share_wrap_top {
    padding-bottom: 50px;
  }

  #loyalty_start_sec {
    position: relative;
  }

  .loyalty_wrap_img:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000045;
    content: '';
    z-index: 1;
  }
  .loyalty_wrap_img.white-ovr:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000045;
    content: '';
    z-index: 1;
  }

  .loyal_inner_wrap,
  .loyal_inner_wrap_2,
  .loyal_inner_wrap.heal_wrap {
    z-index: 9;
  }
  .all_start_leave {
    position: absolute;
    transform: translateX(9%);
    right: 0%;
}
.pass_half_leave img {
  width: 100%;
  max-width: 65%;
}
.pass_half_leave {
  text-align: right;
}
.lov_2_2 {
  bottom: -19%;
  right: 0;
}

}

/* -----------page_end_responsive-------- */


@media only screen and (max-width: 767px) {
  .need_mor_wrp .btn_slider {
    font-size: 20px;
    line-height: 114%;
    padding: 24px 7px;
    border-radius: 9px;
  }

  .need_mor_wrp .btn_slider {
    width: 100%;
    max-width: 242px;
    margin-top: 50px;
  }

  .herbal_txt {
    line-height: 154%;
    max-width: 550px;
  }

  .pro_inner_drink h2 {
    font-size: 62px;
  }

  .need_mor_wrp h5 {
    font-size: 15px;
    line-height: inherit;
  }

  .need_mor_wrp .btn_slider {
    width: 100%;
    max-width: 185px;
    margin-top: 20px;
  }

  .need_mor_wrp .btn_slider {
    font-size: 17px;
    line-height: 110%;
    padding: 21px 3px;
    border-radius: 9px;
  }

  .product_txt-wrap {
    padding-left: 50px;
    padding-right: 50px;
  }

  .product_txt-wrap h2 {
    font-size: 35px;
  }

  .crystal_wp_out {
    flex-direction: column;
  }

  .crystal_img_lft {
    width: 100%;
  }

  .crystal_outer_wrap {
    width: 100%;
    padding-left: 20px;
    text-align: center;
  }

  .crystal_outer_wrap p {
    padding-right: 0;
  }

  .join_btn_wrap {
    flex-direction: column;
    align-items: center;
    bottom: 8%;
  }

  .join_btn {
    width: 100%;
  }

  .join_paly {
    width: 100%;
    margin-top: 15px;
  }

  .join_btn_today {
    padding: 12px 12px;
  }

  .watch_presentation_btn {
    font-size: 20px;
  }

  .feel_gr_txt h2 {
    font-size: 40px;
  }

  .millions_pepole p {
    padding-bottom: 20px;
  }

  #better_life_sec {
    padding: 100px 0 200px 0;
  }

  .bet_lef_one {
    right: 0;
  }

  .success_whole_txt h3 {
    font-size: 50px;
  }



  .our_mentor_wrap h2,
  .more_txt h2,
  .loyal_inner_wrap h2,
  .profit_simplified_wrap h2,
  .all_start_txt h2,
  .crystal_outer_wrap h2,
  .limited_text h2,
  .your_passion_wrap h2,
  .loyal_inner_wrap_2 h2,
  .scale_tools_txt h2,
  .more_txt h2 {
    font-size: 45px;
  }

  .more_txt h4 {
    font-size: 36px;
  }

  .growth_inner_layer h6 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .growth_inner_layer h6:nth-child(5) {
    width: 100%;
    max-width: 100%;
  }

  .growth_inner_layer h6 img {
    left: 15px;
    top: 32%;
    transform: unset;
  }

  .profit_txt_wrap {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    margin: 40px auto 0;
  }

  .profit_txt_wrap.pr_wp_love {
    width: 100%;
    order: 2;
  }

  .profit_img_wrap.pr_wp_love_2 {
    width: 100%;
    order: 1;
  }

  .profit_img_wrap {
    padding-right: 0;
  }

  #loyalty_start_sec {
    margin-top: 0;
  }

  .profit_txt_wrap h2 {
    padding-bottom: 10px;
  }

  .loyalty_wrap_img {
    padding-bottom: 80px;
  }

  .your_passion_wrap p,
  .real_behind_txt p,
  .all_start_txt p,
  .real_flag_content p,
  .limited_text p,
  .loyal_inner_wrap p,
  .profit_simplified_wrap p,
  .profit_txt_wrap p,
  .power_txt_wrap p,
  .mentor_r,
  .millions_pepole p,
  .join_btn_today,
  .herbal_txt,
  .feel_gr_txt p,
  .product_txt-wrap p,
  .success_txt_r,
  .loyal_inner_wrap_2 p,
  .loyal_inner_wrap_2.para_cust p,
  .pass_one_b p,
  .crystal_outer_wrap p {
    font-size: 17px;
  }

  .limited_text .dis_claimer_txt {
    font-size: 15px;
    padding-top: 20px;
  }

  .cry_left_botm img {
    max-width: 178px;
  }
  .profit_img_wrap img {
    width: 100%;
    max-width: 350px;
}

.all_start_leave img {
  width: 100%;
  max-width: 60%;
}
.all_start_leave {
  position: absolute;
  transform: translateX(50%);
  right: 0%;
}
.prof_one_img img, .lef_2_wrp img {
  width: 100%;
  max-width: 40%;
}
.prof_one_img {
  top: 16%;
  left: 9%;
}
.lf_w_wrp img {
  width: 100%;
  max-width: 60%;
}
.profit_lf_2 img {
  width: 100%;
  max-width: 40% !important;
}
.profit_lf_2 {
  top: 16%;
  left: 25%;
}
.lov_2_2 img {
  width: 100%;
  max-width: 50%;
}
.share_lf_three img {
  width: 100%;
  max-width: 35% !important;
}
.bet_lef_one img {
  width: 100%;
  max-width: 50%;
}
.lov_2_2 {
  bottom: 12%;
  right: 0%;
  z-index: -1;
  transform: translateX(0%);
}
.lef_2_wrp {
  position: absolute;
  top: 20%;
  right: 0%;
  z-index: -1;
  transform: translateX(27%);
}
.leaf_power_wrp img {
  width: 100%;
  max-width: 96px;
}
.crystal_leaf_right_img {
  position: absolute;
  top: -8%;
  right: 0;
  z-index: -1;
}
.crystal_leaf_right_img img {
  width: 100%;
  max-width: 135px;
}
#profit_simplified_section .profit_outer_wrap .use_wrap img {
  width: 100%;
  max-width: 100%;
}
.use_wrap {
  top: 20%;
  left: 1%;
}
.pro-wrapper {
  padding-left: 0;
}
.life, .diet, .you {
  font-size: 42px;
}
.life {
  max-width: 453px;
}
.diet {
  max-width: 540px !important;
}
.you {
  max-width: 499px !important;
}
.better_back_img {
  top: 26%;
}



}


@media only screen and (max-width: 575px) {
  .pro_outer_slid {
    padding: 25px 15px 0px 15px;
  }

  .pro_inner_drink h2 {
    font-size: 38px;
  }

  .expected_txt {
    font-size: 16px;
    line-height: 164%;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .herbal_txt {
    font-size: 15px;
    line-height: 150%;
    max-width: 100%;
    padding-bottom: 40px;
  }

  .need_mor_wrp .btn_slider {
    font-size: 11px;
    line-height: 110%;
    padding: 11px 3px;
    border-radius: 7px;
    max-width: 155px;
    margin-top: 6px;
  }

  .need_mor_wrp h5 {
    font-size: 12px;
    line-height: inherit;
  }

  #products_sec .pro_duct_outer_wrap {
    padding: 50px 0;
  }

  .pro_duct_outer_wrap {

    flex-direction: column;
  }

  .product_txt-wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #half_slider {
    position: static;
    transform: unset;
  }

  .product_txt-wrap h2 {
    font-size: 34px;
  }

  .product_txt-wrap p {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .medin_wrap img {
    width: 100% !important;
  }

  .btn-for-fun {
    display: none;
  }

  .join_paly a img {
    height: auto;
  }

  .join_btn_today {
    max-width: 220px;
  }

  .feel_gr_txt h2 {
    font-size: 34px;
  }

  #million_sec {
    margin-top: 20px;
  }

  .life,
  .diet,
  .you {
    font-size: 34px;
  }

  .million_back_img img {
    height: 676px;
    object-fit: cover;
    object-position: -441px;
  }

  .bet_two_three {
    top: 0;
    left: 0;
  }

  .product_txt-wrap {
    text-align: center;
  }

  .product_txt-wrap h2 {
    font-size: 28px;
  }

  .our_mentor_wrap h2,
  .more_txt h2,
  .loyal_inner_wrap h2,
  .profit_simplified_wrap h2,
  .all_start_txt h2,
  .crystal_outer_wrap h2,
  .limited_text h2,
  .your_passion_wrap h2,
  .loyal_inner_wrap_2 h2,
  .scale_tools_txt h2,
  .more_txt h2,
  .success_whole_txt h3,
  .profit_txt_wrap h2,
  .avoid_inner_1_wrap h2,
  .avoid_inner_2_wrap h2,
  .avoid_inner_3_wrap h2 {
    font-size: 36px;
  }

  .more_txt h4 {
    font-size: 24px;
  }

  .leaf_power_wrp img {
    width: 100%;
    max-width: 96px;
  }

  .profit_leaf_wrap {
    top: -38px;
  }

  .lf_w_wrp {
    top: 0;
    left: 0;
    z-index: -1;
  }

  .loyalty_wrap_img img {
    height: 460px;
    object-fit: cover;
    object-position: right;
  }

  .loyal_inner_wrap {
    top: 6%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .profit_txt_wrap {
    margin: 20px auto 0;
  }

  .loyalty_wrap_img {
    padding-bottom: 40px;
  }

  .loyal_inner_wrap_2 {
    top: 14%;
  }

  .pass_half_leave img {
    width: 100%;
    max-width: 90px;
  }

  .pass_one_b h5 {
    font-size: 25px;
  }


  .costly_help {
    flex-direction: column;
  }

  .help_wrap_one {
    width: 100%;
  }

  .li_sp {
    margin-bottom: 40px;
  }

  .costly_help {
    padding-top: 40px;
  }

  .help_wrap_one.lin_sp_w {
    padding-top: 40px;
  }

  .cry_left_botm img {
    max-width: 200px;
  }

  .costly_help_2 {
    flex-direction: column;
  }

  .help_wrap_one_2 {
    width: 100%;
  }

  .help_wrap_one_2.lin_sp_w_2 {
    padding-top: 40px;
    width: 100%;
  }

  #faq_sec .single-acco h2 {
    padding: 17px;
  }

  .medin_wrap img {
    max-width: 153px;
  }

  .costly_help_2 {
    padding-top: 50px;
  }
  .profit_img_wrap img {
    max-width: 250px;
}
.prof_one_img img, .lef_2_wrp img {
  width: 100%;
  max-width: 40%;
}
.prof_one_img {
  top: 16%;
  left: 9%;
}
.lf_w_wrp img {
  width: 100%;
  max-width: 60%;
}
.profit_lf_2 img {
  width: 100%;
  max-width: 40% !important;
}
.profit_lf_2 {
  top: 16%;
  left: 25%;
}
.lov_2_2 img {
  width: 100%;
  max-width: 50%;
}
.share_lf_three img {
  width: 100%;
  max-width: 35% !important;
}
.bet_lef_one img {
  width: 100%;
  max-width: 50%;
}
.lov_2_2 {
  bottom: 21%;
  right: 0%;
  z-index: -1;
  transform: translateX(0%);
}
img.bnr-ht {
  height: 380px;
  object-position: 19%;
  object-fit: cover;
}
.life,
.diet,
.you
 {
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.help_wrap_one img, .help_wrap_one_2 img {
  width: 100%;
  max-width: 70px;
}

}

@media only screen and (max-width: 410px){
img.bnr-ht {
    height: 320px;
    object-position: 19%;
    object-fit: cover;
}
}

